* {
  box-sizing: border-box;
}

.container {
	float:left;
	margin-left: 30px;
	margin-top: 150px;
	width: 30%;
	height: 300px;
	background: #f2f2f2;
	position: absolute;

}

.containertwo {
	float: right;
	margin-right: 30px;
	margin-top: 150px;
	width: 30%;
	height: 300px;
	background: #f2f2f2;
	position: relative;
	animation-name: move;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
	animation-delay: .4s;
}



.containerthree {
	float: right;
	margin-right: 45px;
	margin-top: 150px;
	width: 30%;
	height: 300px;
	background: #f2f2f2;
	position: relative;
}


body {
  margin: 0;
  min-width: 250px;
}

h2  {
	font-family: lato;
	margin:10px;
}


ul {
  margin: 0;
  padding: 0;
}


ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background:  #f2f2f2;
  font-size: 18px;
  font-family: lato;
  border-bottom: 2px solid #404040;
  transition: 0.2s;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:hover {
  background: #ddd;
}

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}


ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}


.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}


.close:hover {
  background-color: #f44336;
  color: white;
}



.header {
  background-color: #7575a3;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}


input {
  border: none;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
  font-family: lato;
}



.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  font-family: lato;
}

.addBtn:hover {
  background-color: #bbb;
}